<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gh.utils">

    <!--网络状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".permission.AcpActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" />
    </application>

</manifest>
